[Unit]
Description=LuxDVR RTSP Streamer - Camera %i
After=network.target mediamtx.service
BindsTo=mediamtx.service

[Service]
Type=simple
User=<YOUR_USER>
WorkingDirectory=/YOUR_PATH_TO/luxdvr_reveng

ExecStart=/bin/bash /opt/luxdvr/run.sh %i

Restart=always
RestartSec=5

StandardOutput=append:/YOUR_PATH_TO/luxdvr_reveng/logs/cam%i.log
StandardError=append:/YOUR_PATH_TO/luxdvr_reveng/logs/cam%i.log

[Install]
WantedBy=multi-user.target
